{%  extends 'base.html' % %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tela de login</title>
    <style>
        h1{
            text-align: center;
        }

    </style>

</head>
<body>

     <h1>Olha só, olha aqui, olha lá</h1>


</body>
</html>