{%  extends 'base.html' % %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tela de consulta</title>
</head>
<body>

    <h1>consulta</h1>
    <table border="1">
            <tr>
                <th>Nome:</th>
                  <th>Sobrenome:</th>
                  <th>Estado:</th>
                  <th>Cidade:</th>
                  <th>Enderço:</th>
                    <th>E-mail:</th>
            </tr>

                 {% for u in user %}
            <tr>
                <td>{{u.Nome }}</td>
                <td>{{u.Sobrenome}}</td>
                <td>{{u.Estado }}</td>
                <td>{{u.Cidade}}</td>
                <td>{{u.Endereco}}</td>
                <td>{{u.Email}}</td>

            </tr>
                {% endfor %}

    </table>

</body>
</html>